@import "./layout";

.Contents {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .Layout {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 600px;
    }
  }
}

@include mobile {
  .Contents {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    .Layout {
      div {
        width: 100%;
      }
    }
  }
}
